openapi: 3.0.3
info:
  title: CCDI Pediatric Cancer Data Catalog
  description: |-
    The CCDI Pediatric Cancer Data Catalog is an API that supports the querying
    of federated pediatric cancer within the broader community. The goal of the
    API is to support identification of pediatric cancer samples of interest via
    a variety of query parameters.
  contact:
    name: Childhood Cancer Data Initiative support email
    url: https://www.cancer.gov/research/areas/childhood/childhood-cancer-data-initiative
    email: NCIChildhoodCancerDataInitiative@mail.nih.gov
  version: '0.1'
servers:
- url: https://ccdi.stjude.cloud/api/v0
  description: St. Jude Children's Research Hospital CCDI API server
- url: https://ccdifederation.pedscommons.org/api/v0
  description: UCSC Treehouse CCDI API server
- url: https://ccdi.treehouse.gi.ucsc.edu/api/v0
  description: Pediatric Cancer Data Commons CCDI API server
paths:
  /metadata/fields/subject:
    get:
      tags:
      - Metadata
      summary: Gets the metadata fields for subjects that are supported by this server.
      description: Gets the metadata fields for subjects that are supported by this server.
      operationId: metadata_fields_subject
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/responses.Subjects'
  /subject:
    get:
      tags:
      - Subject
      summary: Gets the subjects known by this server.
      description: Gets the subjects known by this server.
      operationId: index
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.Subjects'
  /subject/{namespace}/{name}:
    get:
      tags:
      - Subject
      summary: Gets the subject matching the provided id (if it exists).
      description: Gets the subject matching the provided id (if it exists).
      operationId: show
      parameters:
      - name: namespace
        in: path
        description: The namespace portion of the subject identifier.
        required: true
        schema:
          type: string
      - name: name
        in: path
        description: The name portion of the subject identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.Subject'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.Error'
              example:
                error: Subject with namespace 'foo' and name 'bar' not found.
  /subject/by/{field}/count:
    get:
      tags:
      - Subject
      summary: Groups the subjects by the specified metadata field and returns counts.
      description: Groups the subjects by the specified metadata field and returns counts.
      operationId: subjects_by_count
      parameters:
      - name: field
        in: path
        description: The field to group by and count.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.Subject'
        '422':
          description: Unsupported field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.Error'
              example:
                error: Field 'handedness' is unsupported.
components:
  schemas:
    cde.v1.Identifier:
      type: object
      description: |-
        **caDSR CDE 6380049 v1.00**

        This metadata element is defined by the caDSR as "A unique subject
        identifier within a site and a study.". No permissible values are defined
        for this CDE.

        Link:
        <https://cadsr.cancer.gov/onedata/dmdirect/NIH/NCI/CO/CDEDD?filter=CDEDD.ITEM_ID=6380049%20and%20ver_nr=1>
      required:
      - namespace
      - name
      properties:
        namespace:
          type: string
          description: The namespace of the identifier.
          example: organization
        name:
          type: string
          description: The name of the identifier.
          example: SubjectName001
    cde.v1.Race:
      type: string
      description: |-
        **caDSR CDE 2192199 v1.00**

        This metadata element is defined by the caDSR as "The text for reporting
        information about race based on the Office of Management and Budget (OMB)
        categories.". Upon examination of the large number of projects using the
        term, it appears to be the preferred term for the general concept of race.

        Link:
        <https://cadsr.cancer.gov/onedata/dmdirect/NIH/NCI/CO/CDEDD?filter=CDEDD.ITEM_ID=2192199%20and%20ver_nr=1>
      enum:
      - Not allowed to collect
      - Native Hawaiian or other Pacific Islander
      - Not Reported
      - Unknown
      - American Indian or Alaska Native
      - Asian
      - Black or African American
      - White
    cde.v1.Sex:
      type: string
      description: |-
        **caDSR CDE 6343385 v1.00**

        This metadata element is defined by the caDSR as "Sex of the subject as
        determined by the investigator." In particular, this field does not dictate
        the time period: whether it represents sex at birth, sex at sample
        collection, or any other determined time point. Further, the descriptions
        for F and M suggest that this term can represent either biological sex,
        culture gender roles, or both. Thus, this field cannot be assumed to
        strictly represent biological sex.

        Link:
        <https://cadsr.cancer.gov/onedata/dmdirect/NIH/NCI/CO/CDEDD?filter=CDEDD.ITEM_ID=6343385%20and%20ver_nr=1>
      enum:
      - U
      - F
      - M
      - UNDIFFERENTIATED
    cde.v2.Ethnicity:
      type: string
      description: |-
        **caDSR CDE 2192217 v2.00**

        This metadata element is defined by the caDSR as "The text for reporting
        information about ethnicity based on the Office of Management and Budget
        (OMB) categories." Upon examination of the large number of projects using
        the term, it appears to be the preferred term for the general concept of
        ethnicity.

        Link:
        <https://cadsr.cancer.gov/onedata/dmdirect/NIH/NCI/CO/CDEDD?filter=CDEDD.ITEM_ID=2192217%20and%20ver_nr=2.0>
      enum:
      - Not allowed to collect
      - Hispanic or Latino
      - Not Hispanic or Latino
      - Unknown
      - Not reported
    field.Ethnicity:
      type: object
      required:
      - value
      properties:
        value:
          $ref: '#/components/schemas/cde.v2.Ethnicity'
        ancestors:
          type: array
          items:
            type: string
          description: |-
            The ancestors from which this field was derived.

            Ancestors should be provided as period (`.`) delimited paths
            from the `metadata` key in the subject response object.
          nullable: true
        comment:
          type: string
          description: A free-text comment field.
          nullable: true
    field.EthnicityOrNull:
      oneOf:
      - $ref: '#/components/schemas/field.Ethnicity'
      - type: object
        default: null
        nullable: true
      description: An unowned metadata field or null.
    field.Identifier:
      type: object
      required:
      - value
      properties:
        value:
          $ref: '#/components/schemas/cde.v1.Identifier'
        ancestors:
          type: array
          items:
            type: string
          description: |-
            The ancestors from which this field was derived.

            Ancestors should be provided as period (`.`) delimited paths
            from the `metadata` key in the subject response object.
          nullable: true
        comment:
          type: string
          description: A free-text comment field.
          nullable: true
        owned:
          type: boolean
          description: Whether or not the field is owned by the source server.
          nullable: true
    field.IdentifiersOrNull:
      oneOf:
      - type: array
        items:
          $ref: '#/components/schemas/field.Identifier'
        description: Multiple owned values representing the field(s).
      - type: object
        default: null
        nullable: true
      description: Multiple owned metadata fields or null.
    field.Race:
      type: object
      required:
      - value
      properties:
        value:
          $ref: '#/components/schemas/cde.v1.Race'
        ancestors:
          type: array
          items:
            type: string
          description: |-
            The ancestors from which this field was derived.

            Ancestors should be provided as period (`.`) delimited paths
            from the `metadata` key in the subject response object.
          nullable: true
        comment:
          type: string
          description: A free-text comment field.
          nullable: true
    field.RacesOrNull:
      oneOf:
      - type: array
        items:
          $ref: '#/components/schemas/field.Race'
        description: Multiple unowned values representing the field(s).
      - type: object
        default: null
        nullable: true
      description: Multiple unowned metadata fields or null.
    field.Sex:
      type: object
      required:
      - value
      properties:
        value:
          $ref: '#/components/schemas/cde.v1.Sex'
        ancestors:
          type: array
          items:
            type: string
          description: |-
            The ancestors from which this field was derived.

            Ancestors should be provided as period (`.`) delimited paths
            from the `metadata` key in the subject response object.
          nullable: true
        comment:
          type: string
          description: A free-text comment field.
          nullable: true
    field.SexOrNull:
      oneOf:
      - $ref: '#/components/schemas/field.Sex'
      - type: object
        default: null
        nullable: true
      description: An unowned metadata field or null.
    models.Subject:
      type: object
      description: A subject.
      required:
      - id
      - name
      - kind
      properties:
        id:
          $ref: '#/components/schemas/cde.v1.Identifier'
        name:
          type: string
          description: |-
            The primary name or identifier for a subject used within the source
            server.
          example: SubjectName001
        kind:
          $ref: '#/components/schemas/models.subject.Kind'
        metadata:
          allOf:
          - $ref: '#/components/schemas/models.subject.Metadata'
          nullable: true
    models.count.Total:
      type: object
      description: Total count of some entity as reported alongside an API call.
      required:
      - total
      properties:
        total:
          type: integer
          description: The total number of entities returned in the API call.
          minimum: 0
    models.subject.Kind:
      type: string
      description: A kind of [`Subject`](super::Subject).
      enum:
      - Participant
      - Patient Derived Xenograft
      - Cell Line
      - Organoid
    models.subject.Metadata:
      type: object
      description: Metadata associated with a subject.
      required:
      - sex
      - race
      - ethnicity
      - identifiers
      properties:
        sex:
          allOf:
          - $ref: '#/components/schemas/field.SexOrNull'
          nullable: true
        race:
          allOf:
          - $ref: '#/components/schemas/field.RacesOrNull'
          nullable: true
        ethnicity:
          allOf:
          - $ref: '#/components/schemas/field.EthnicityOrNull'
          nullable: true
        identifiers:
          allOf:
          - $ref: '#/components/schemas/field.IdentifiersOrNull'
          nullable: true
    responses.Error:
      type: object
      description: A response indicating an error from the API.
      required:
      - error
      properties:
        error:
          type: string
          example: An error occurred.
    responses.Subject:
      allOf:
      - $ref: '#/components/schemas/models.Subject'
      - type: object
      description: A response representing a single [`Subject`](models::Subject).
    responses.Subjects:
      type: object
      description: |-
        A response representing multiple subjects known about by the server with a
        summarized total count.
      required:
      - count
      properties:
        count:
          $ref: '#/components/schemas/models.count.Total'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/models.Subject'
          description: The subjects, if available.
          nullable: true
tags:
- name: Info
  description: Information about the API implementation itself.
- name: Subject
  description: Subjects within the CCDI federated ecosystem.
- name: Metadata
  description: List and describe provided metadata fields.
externalDocs:
  url: https://www.cancer.gov/research/areas/childhood/childhood-cancer-data-initiative
  description: Learn more about the Childhood Cancer Data Initiative
