---
openapi: 3.0.3
info:
  title: CCDI Pediatric Cancer Data Catalog
  description: |-
    The CCDI Pediatric Cancer Data Catalog is an API that supports the querying
    of federated pediatric cancer within the broader community. The goal of the
    API is to support identification of pediatric cancer samples of interest via
    a variety of query parameters.
  version: "0.1"
externalDocs:
  description: Learn more about the Childhood Cancer Data Initiative
  url: https://www.cancer.gov/research/areas/childhood/childhood-cancer-data-initiative
servers:
  - url: https://ccdi.stjude.cloud/api/v0
tags:
  - name: Info
    description: Information about the API implementation itself.
  - name: Studies
    description: CCDI Metadata Template Study.
  - name: Demographics
    description: CCDI Metadata Template Demographics.
  - name: Samples
    description: CCDI Metadata Template Samples.
  - name: Diagnoses
    description: CCDI Metadata Template Diagnoses.
paths:
  /info:
    get:
      tags:
        - Info
      summary: Information about the API implementation itself.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/info'
  /studies:
    get:
      tags:
        - Studies
      summary: Find studies
      description: >-
        A list of studies.
        Retrieve all studies or studies found by attributes.
      operationId: searchStudies
      parameters:
        - {in: query, name: page, schema: {type: integer}}
        - {in: query, name: per_page, schema: {type: integer}}
        - name: phs_accession
          in: query
          description: CDE 11524544 v.1.0.
          required: false
          schema:
            type: string
        - name: study_name
          in: query
          description: CDE 3443999 v.1.0.
          required: false
          schema:
            type: string
        - name: study_short_title
          in: query
          description: CDE 3443999 v.1.0.
          required: false
          schema:
            type: string
        - name: study_acronym
          in: query
          description: A one word acronym to represent the study.
          required: false
          schema:
            type: string
        - name: grant_id
          in: query
          description: CDE 2534569 v.1.0.
          required: false
          schema:
            type: string
        - name: institution
          in: query
          description: institution name.
          required: false
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/paginatedResult'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/study'
        '400':
          description: TBD
        '404':
          description: TBD
  /studies/{study_id}:
    get:
      tags:
        - Studies
      summary: Find study by study Id.
      operationId: retrieveStudy
      parameters:
        - name: study_id
          in: path
          description: Study to return by Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/study'
        '400':
          description: TBD
        '404':
          description: TBD
  /demographics:
    get:
      tags:
        - Demographics
      summary: Find participants
      description: >-
        A list of participants.
        Retrieve all participants or participants found by attributes.
      operationId: searchParticipants
      parameters:
        - {in: query, name: page, schema: {type: integer}}
        - {in: query, name: per_page, schema: {type: integer}}
        - name: study_id
          in: query
          description: CDE 6380045 v1.0.
          required: false
          schema:
            type: string
        - name: sex
          in: query
          description: CDE 6343385 v1.0.
          required: false
          schema:
            type: string
        - name: race
          in: query
          description: CDE 2192199 v1.0.
          required: false
          schema:
            type: string
        - name: ethnicity
          in: query
          description: CDE 2192217 v.2.0.
          required: false
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/paginatedResult'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/participant'
        '400':
          description: TBD
        '404':
          description: TBD
  /demographics/{participant_id}:
    get:
      tags:
        - Demographics
      summary: Find participant by participant Id.
      operationId: retrieveParticipant
      parameters:
        - name: participant_id
          in: path
          description: Participant to return by Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/participant'
        '400':
          description: TBD
        '404':
          description: TBD
  /samples:
    get:
      tags:
        - Samples
      summary: Find samples.
      description: >-
        A list of samples.
        Retrieve all samples or samples found by attributes.
      operationId: searchSamples
      parameters:
        - {in: query, name: page, schema: {type: integer}}
        - {in: query, name: per_page, schema: {type: integer}}
        - name: sample_type
          in: query
          description: CDE 11524544 v.1.0.
          required: false
          schema:
            type: string
        - name: anatomic_site
          in: query
          description: CDE 6161035 v.1.0.
          required: false
          schema:
            type: string
        - name: participant_age_at_collection
          in: query
          description: CDE 10609539 v1.0.
          required: false
          schema:
            type: string
        - name: sample_tumor_status
          in: query
          description: CDE 5432687 v.2.0.
          required: false
          schema:
            type: string
        - name: participant_id
          in: query
          description: CDE 2534569 v.1.0.
          required: false
          schema:
            type: string
        - name: tumor_classification
          in: query
          description: CDE 12922545 v.1.0.
          required: false
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/paginatedResult'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/sample'
        '400':
          description: TBD
        '404':
          description: TBD
  /samples/{sample_id}:
    get:
      tags:
        - Samples
      summary: Find sample by sample Id.
      operationId: retrieveSample
      parameters:
        - name: sample_id
          in: path
          description: Sample to return by Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sample'
        '400':
          description: TBD
        '404':
          description: TBD
  /diagnoses:
    get:
      tags:
        - Diagnoses
      summary: Find diagnoses.
      description: >-
        A list of diagnoses.
        Retrieve all diagnoses or diagnoses found by attributes.
      operationId: searchDiagnoses
      parameters:
        - {in: query, name: page, schema: {type: integer}}
        - {in: query, name: per_page, schema: {type: integer}}
        - name: anatomic_site
          in: query
          description: CDE 6161035 v.1.0.
          required: false
          schema:
            type: string
        - name: disease_phase
          in: query
          description: CDE 12217251 v.1.0.
          required: false
          schema:
            type: string
        - name: age_at_diagnosis
          in: query
          description: CDE 3225640 v2.0.
          required: false
          schema:
            type: string
        - name: diagnosis_icd_o
          in: query
          description: CDE 11326261 v.1.0.
          required: false
          schema:
            type: string
        - name: participant_id
          in: query
          description: CDE 2534569 v.1.0.
          required: false
          schema:
            type: string
        - name: vital_status
          in: query
          description: CDE 2847330 v.1.0.
          required: false
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/paginatedResult'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/diagnosis'
        '400':
          description: TBD
        '404':
          description: TBD
  /diagnoses/{diagnosis_id}:
    get:
      tags:
        - Diagnoses
      summary: Find diagnosis by diagnosis Id.
      operationId: retrieveDiagnosis
      parameters:
        - name: diagnosis_id
          in: path
          description: Diagnosis to return by Id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagnosis'
        '400':
          description: TBD
        '404':
          description: TBD
components:
  schemas:
    info:
      type: object
      properties:
        name:
          type: string
          example: "Organization A — CCDI Pediatric Cancer Catalog API"
        version:
          type: string
          example: 1.0.0
        support_email:
          type: string
          example: "support@organization.org"
    study:
      type: object
      properties:
        study_id:
          type: string
          description: >-
            CDE 6380045 v1.0. Required. A unique identifier for a study.
            example: phs008421
        phs_accession:
          type: string
          description: >-
            CDE 11524544 v1.0. Required.
          example: phs008421
        study_name:
          type: string
          description: >-
            CDE 3443999 v1.0. Required.
          example: CCDI-QW
        study_short_title:
          type: string
          description: >-
            CDE 3443999 v1.0. Required.
          example: CCDI-QW
        study_acronym:
          type: string
          description: >-
            Required. A one word acronym to represent the study.
          example: PHS008421
        study_description:
          type: string
          description: >-
            The text for reporting information
            about race the study.
          example: a description of a study phs008421.
        grant_id:
          type: string
          description: >-
            CDE 2534569 v1.0. Required.
          example: 3P18CA008765-4321
        institution:
          type: string
          description: >-
            Required.
          example: CHoP
      required:
        - study_id
        - phs_accession
        - study_short_title
        - study_acronym
        - grant_id
    participant:
      type: object
      properties:
        study_id:
          type: string
          description: >-
            CDE 6380045 v1.0. Required. A unique identifier for a study.
          example: phs008421
        study_arm_id:
          type: string
          description: CDE 6380045 v1.0. An identifier for a study arm.
        participant_id:
          type: string
          description: CDE 6867052 v1.0. Required.
          example: IID_H842555
        race:
          type: string
          description: >-
            CDE 2192199 v1.0. Required. The text for reporting information
            about race
            based on the Office of Management and Budget (OMB) categories.
          example: Not Reported
        sex:
          type: string
          description: >-
            CDE 6343385 v1.0 Required.
          example: U
        ethnicity:
          type: string
          description: >-
            CDE 2192217 v.2.0.
            (OMB) categories.
          example: Unknown
        alternate_participant_id:
          type: string
          description: CDE 6867052 v.1.0.
          example: alt_ID_H842555
      required:
        - study_id
        - participant_id
        - race
        - sex
        - ethnicity
    paginatedResult:
      type: object
      properties:
        has_next: {type: boolean, example: true}
        has_prev: {type: boolean, example: true}
        page: {type: number, example: 3}
        pages: {type: number, example: 5}
        per_page: {type: number, example: 20}
        total: {type: number, example: 100}
        results: {type: array, items: {}}
        # paginatedResult
    sample:
      type: object
      properties:
        sample_id:
          type: string
          description: >-
            CDE 2003904 v.1.0. Required. A unique sequence
            of alphanumeric characters
            used to _identify the sample in the investigation or study.
          example: IID_H842555.spec1
        participant_id:
          type: string
          description: >-
            CDE 6867052 v1.0. Required. A unique sequence of
            alphanumeric characters
            used to _identify the participant, in the investigation or study,
            of the specimen at it's point of origin.
          example: IID_H842555
        sample_type:
          type: string
          description: >-
            CDE 3111302 v.2.0. Required.
            Specimen Type Collection Biospecimen Type.
          example: Normal
          enum:
            - Normal
            - Adnormal
            # a list of 36 PVs.
        anatomic_site:
          type: string
          description: >-
            CDE 6161035 v.1.0. Required. The text term used to describe
            the anatomic site of
            origin, of the patient's malignant disease, as described by
            the World Health Organization's (WHO) International
            Classification of Diseases for Oncology (ICD-O).
          example: Not Reported
          enum:
            - 'Abdomen, NOS'
            - 'Abdominal esophagus'
            # a list here of 333 PVs
            - 'Vulva, NOS'
            - 'Waldeyer ring'
        participant_age_at_collection:
          type: integer
          description: >-
            CDE 10609539 v1.0. Required. The age of the participant
            (in days) at the time of sample collection.
          example: 6234
        sample_tumor_status:
          type: string
          description: >-
            CDE 5432687 v.2.0.
            Tissue Sample Description Category.
          example: Normal
          enum:
            - Normal
            - Adnormal
            # a list of 8 values
        tumor_classification:
          type: string
          description: >-
            CDE 12922545 v1.0. Required. Tumor Classification Category.
          example: Unknown
          enum:
            - 'Metastatic'
            - 'Not Stated'
            - 'Primary tumor'
            - 'Regional Disease'
            - 'Unknown'
        sample_description:
          type: string
          description: >-
            CDE 2003907 v.3.0. Text description of a sample or specimen.
          example: Normal sample for tumor comparison
        alternate_sample_id:
          type: string
          description: >-
            CDE 2003904 v.4.0. Sample ID Number.
      required:
        - sample_id
        - participant_id
        - sample_type
        - sample_tumor_status
        - anatomic_site
        - participant_age_at_collection
        - tumor_classification
    diagnosis:
      type: object
      properties:
        diagnosis_id:
          type: string
          description: >-
            Required. A unique sequence of alphanumeric characters used
            to identify the participant diagnosis in the investigation or
            study, which is used for linking metadata.
          example: DG__5555-7777__0
        participant_id:
          type: string
          description: >-
            CDE 6867052 v1.0. Required. A unique sequence of
            alphanumeric characters
            used to _identify the participant, in the investigation or study,
            of the specimen at it's point of origin.
          example: IID_H842555
        anatomic_site:
          type: string
          description: >-
            CDE 6161035 v.1.0. Required. The text term used to describe
            the anatomic site of
            origin, of the patient's malignant disease, as described by
            the World Health Organization's (WHO) International
            Classification of Diseases for Oncology (ICD-O).
          example: Not Reported
        disease_phase:
          type: string
          description: >-
            CDE 12217251 v1.0. Required. A unique sequence of
            alphanumeric characters
            used to _identify the participant, in the investigation or study,
            of the specimen at it's point of origin.
          example: Initial Diagnosis
          enum:
            - 'Initial Diagnosis'
            - 'Not Reported'
            # a list of 8 PVs
        diagnosis_icd_o:
          type: integer
          description: >-
            CDE 11326261 v1.0. Required. ISpecimen Tumor Tissue ICD-O-3.
            Morphology Code.
          example: '9400/3 : Astrocytoma, NOS'
        age_at_diagnosis:
          type: integer
          description: >-
            CDE 3225640 v2.0. Required. Age at the time of diagnosis
            expressed in number of days since birth.
          example: 6234
        vital_status:
          type: string
          description: >-
            CDE 2847330 v.1.0. Participant vital status
          example: Unspecified
          enum:
            - Not Reported
            - Alive
            - Dead
            - Unknown
            - Unspecified
            # a list of 5 values
      required:
        - diagnosis_id
        - participant_id
        - anatomic_site
        - disease_phase
        - diagnosis_icd_o
        - age_at_diagnosis
        - vital_status
...
